.field {
  display: table;
}

.cell {
  background: #30d5c8;
  text-align: center;
  line-height: 2em;
  border: 1px solid;
  height: 64px;
  width: 64px;
  font-size: 30px;
}

.button {
  margin: 20px;
}

.message {
  margin: 20px 0 5px 0;
  padding: 10px;
  border: 1px solid #30d5c8;
  text-align: center;
}

.line {
  position: absolute;
  background-color: wheat;
  height: 7px;
  border-radius: 5px;
}
