.field {
  display: table;
}

.cell {
  background: #30d5c8;
  text-align: center;
  line-height: 2em;
  border: 1px solid;
  height: 64px;
  width: 64px;
  font-size: 30px;
}

.button {
  margin: 20px;
}

.message {
  margin: 20px 0 5px 0;
  padding: 10px;
  border: 1px solid #30d5c8;
  text-align: center;
}

.line {
  color: wheat;
}

.lineCombination0 {
  position: absolute;
  top: 96px;
  left: 10px;
  width: 207px;
}

.lineCombination2 {
  position: absolute;
  top: 166px;
  left: 10px;
  width: 207px;
}

.lineCombination4 {
  position: absolute;
  top: 234px;
  left: 10px;
  width: 207px;
}

.lineCombination1 {
  position: absolute;
  top: 165px;
  left: -60px;
  width: 207px;
  transform: rotate(90deg);
}

.lineCombination3 {
  position: absolute;
  top: 165px;
  left: 10px;
  width: 207px;
  transform: rotate(90deg);
}

.lineCombination5 {
  position: absolute;
  top: 165px;
  left: 80px;
  width: 207px;
  transform: rotate(90deg);
}

.lineCombination6 {
  position: absolute;
  top: 166px;
  left: -31px;
  transform: rotate(45deg);
  width: 289px;
  z-index: 1;
}

.lineCombination7 {
  position: absolute;
  top: 166px;
  left: -31px;
  transform: rotate(135deg);
  width: 289px;
}
